.container {
  display: flex;
  height: 100svh;

  .logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    text-align: center;
    padding: 1rem;

    .titulo-titulo-substituicao {
      font-size: 3rem;
      color: #ffffff;
    }
  }

  .informacoes {
    width: 60%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    .input-registrar {
      margin-bottom: 1.2rem;
    }

    .botao {
      height: 4rem;
      width: 45%;
    }
  }

  .tituloProcessamento {
    font-size: 2rem;
    font-weight: 600;
  }

  .subTitulo {
    font-size: 1.4rem;
    font-weight: 600;
  }

  .textoComum {
    font-size: 1.3rem;
  }

  .verde {
    color: green;
    font-weight: bold;
  }

  .vermelho {
    color: red;
    font-weight: bold;
  }

  .texto-contraste {
    font-weight: bold;
    font-size: 1.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th,
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 1.5rem;
  }

  td {
    display: flex;
    justify-content: space-between;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
}

@media (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100svh;

    .logo {
      width: 100%;
    }
    .informacoes {
      width: 100%;
    }
  }
}
